//-
  Book layout
  
  This layout is used when rendering books.  The rendered page contains the
  book's table of contents and a chapter's text.
  
  The table of contents is selectable using a `.toc` class selector.  The
  chapter's text is selectable using a `.chapter` selector.  These selectors
  were chosen to conform to the book microformat, which, while still
  exploratory, is comprehensive and usable.  Further information on the
  microformat can be found at:
    - http://microformats.org/wiki/book-examples
    - http://microformats.org/wiki/book-formats
    - http://microformats.org/wiki/book-brainstorming
//-

extends ../layout

include ../mixins
include ../mixins/app
include ../mixins/social

block title
  title= book.title
block description
  if book.description
    meta(name='description', content=book.description)
block opengraph-metadata
  +opengraph-metadata(book.title, book.description, images, author, type, canonicalURL, manifest)
block twitter-metadata
  +twitter-metadata(book.title, book.description, images, author, canonicalURL, manifest)

block content
  #book.book
    .toc
      nav(data-accordion-group='')
        each part in summary.parts
          .accordion(data-accordion='')
            h5(data-control='')
              i.icon-budicon-461
              a(href=filters.resolveFile(part.articles[0].path))
              | #{part.title}
            ul(data-content='')
              each article in part.articles
                li
                  a(href=filters.resolveFile(article.path), class='') #{article.title}

    a#go-top(href='#top')
      i.icon-budicon-462

    .contents
      |!{ content }
