//-
  [Browser configuration schema reference](https://msdn.microsoft.com/en-us/library/dn320426(v=vs.85).aspx)
  [Pinned site metadata reference](https://msdn.microsoft.com/en-us/library/dn255024(v=vs.85).aspx)

  https://msdn.microsoft.com/en-us/library/gg491732(v=vs.85).aspx
  http://www.buildmypinnedsite.com/

  https://msdn.microsoft.com/en-us/library/gg491740(v=vs.85).aspx
//-

mixin windows-web-app(manifest)
  if manifest.themeColor
    meta(name='msapplication-TileColor', content=manifest.themeColor)
