extends layout

include mixins
include mixins/app

block content
  .home
    h1
      img(src="/images/PassportJS.svg")
    h2 Simple, unobtrusive authentication for Node.js
    +window("app.js — vim")
      .rw-wrapper
        .rw-sentence
          p passport.authenticate
            span.rw-words.rw-words-1
              span.twitter ('twitter');
              span.facebook ('facebook');
              span.google ('google');
              span.linkedin ('linkedin');
              span.github ('github');

    p
      | Passport is authentication middleware for Node.js. Extremely flexible and modular, Passport can be unobtrusively dropped in to any Express-based web application. A comprehensive set of strategies support authentication using a#{' '}
      a(href="/docs/username-password", data-pjax='/docs/username-password') username and password
      | ,#{' '}
      a(href="/docs/facebook", data-pjax="/docs/facebook") Facebook
      | ,#{' '}
      a(href="/docs/twitter", data-pjax="/docs/twitter") Twitter
      | ,#{' '}
      | and#{' '}
      a(href="/docs/providers", data-search="") more
      | .

    .strategies
      p +300 Strategies Now!
      a.btn(href='/', data-search='') View All Strategies
