doctype html
html(prefix='og: http://ogp.me/ns#', lang='en')
  head
    title= title
    meta(charset="utf-8")
    if description
      meta(name='description', content=description)
    if author && author.name
      meta(name='author', text=author.name)
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel="canonical", href=canonicalURL)

    +web-app(manifest, '/manifest.webmanifest')
    +ios-web-app(manifest)
    +windows-web-app(manifest, '/browserconfig.xml')

    +opengraph_metadata(title, description, images, author, type, canonicalURL, manifest)
    +twitter_metadata(title, description, images, author, canonicalURL, manifest)
    
    //- Attention-based funding
    meta(name='flattr:id', content='d5znvd')

    //- CSS
    link(type='text/css', rel='stylesheet', href='http://fast.fonts.net/cssapi/7527d73a-ebfe-45db-a201-ff2812df4b18.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css')
    link(rel='stylesheet', href='/assets/styles/all.css')
    
    script(data-main='/script/main' src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js')

    != LRScript
  body(class=page_name)
    #container
      .top-site#top
        .search
          form(action='#')
            button(type='submit')
            input(type='text', placeholder='Search for Strategies')

        .social
          ul
            li.twitter
              a(href='http://twitter.com/passportjs', target='_blank')
            li.git
              a(href='http://github.com/jaredhanson/passport', target='_blank')
                span.stat 0


      nav#menu
        a#logo(href='/', title='JH').logo
        a(href='http://twitter.com/jaredhanson', target="_blank").jared by Jared Hanson
        .menu-trigger
          span
        .menu-hold
          ul

            li(class=(title === 'Passport.js' ? 'active' : ''))
              a(href='/') Home
            li(class=(title === 'Documentation' ? 'active' : ''))
              a(href='/docs/') Documentation
            li(class=(title === 'Features' ? 'active' : ''))
              a(href='/features/') Features
            li
              a(href='/packages/') Strategies

          <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=passportjsorg" id="_carbonads_js"></script>

        a(href='http://auth0.com', target='_blank').supported
          | Supported by
          i.auth0


      #content
        block content


        a(href='http://auth0.com', target='_blank').supported
          | Supported by
          i.auth0

    .search-con
      .head
        span.close-ico
        .hold
          h2 SEARCH FOR STRATEGIES
          form(action='/')
            input(value='', type='text', name="strategy" placeholder="Start typing", autocomplete="off")
          p.info-line
            span 0
            | STRATEGIES
      .results
        section

    //-script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    //-script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js')
    //-script(src='/javascripts/plugins.js')
    //-script(src='/javascripts/helpers.js')
    //-script(src='/javascripts/main.js')
    script.
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-104798-10']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    // Google Tag Manager
    noscript.
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-M5S3PH', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-M5S3PH');
    // End Google Tag Manager
